<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="mygoogle.css">
        <title>MyGoogle</title>
    </head>
    <body>
        
        <header>
            <table>
                <tr>
                    <td>Gmail</td>
                    <td>Images</td>
                    <td>Google-apps</td>
                    <td>Google-notifications</td>
                    <td>Google-account</td>
                </tr>
            </table>
        </header>
        
        <div class="logo-and-sb">
            <img src="googlelogo.png" alt="The Google logo">

            <form action="#" method="post">
                <input type="text" name="sb" id="007">
                <input type="submit" value="Go!">
                <input type="submit" value="I'm feeling lucky!">
            </form>

            <p>Google offered in: <a href="">Deutsch</a></p>

        </div>
        
        
        <footer>
            <p>Germany</p>
            
            <table>
                <tr>
                    <td>Advertising</td>
                    <td>Business</td>
                    <td>About</td>
                    <td>Privacy</td>
                    <td>Terms</td>
                    <td>Settings</td>
                    <td>Use Google.com</td>
                </tr>
            </table>

        </footer>

    </body>






</html>